@model Shop.WebUI.ViewModels.GoodsFindViewModel

@{
    ViewBag.Title = "Find Product";
}

@using (Html.BeginForm())
{
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="container-fluid">
                    <div class="row">
                        Manufacturer
                        <div class="col-md-12">
                            @for (var i = 0; i < Model.ManufacturerChecks.Count; i++)
                            {
                                <div>
                                    @Html.HiddenFor(x => Model.ManufacturerChecks[i].ManufacturerId)
                                    @Html.CheckBoxFor(x => Model.ManufacturerChecks[i].IsCheck)
                                    @Html.DisplayFor(x => Model.ManufacturerChecks[i].ManufacturerName)
                                    @Html.HiddenFor(x => Model.ManufacturerChecks[i].ManufacturerName)
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        Category
                        <div class="col-md-12">
                            @for (var i = 0; i < Model.CategoryChecks.Count; i++)
                            {
                                <div>
                                    @Html.HiddenFor(x => Model.CategoryChecks[i].CategoryId)
                                    @Html.CheckBoxFor(x => Model.CategoryChecks[i].IsCheck)
                                    @Html.DisplayFor(x => Model.CategoryChecks[i].CategoryName)
                                    @Html.HiddenFor(x => Model.CategoryChecks[i].CategoryName)
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-9">
                            @Html.EditorFor(e => e.GoodName, new {htmlAttributes = new {@class = "form-control w-100", placeholder = "Input part name goods"}})
                        </div>
                        <div class="col-md-1">
                            <button id="find" type="submit" class="btn btn-warning">Find</button>
                        </div>
                    </div>
                    <div class="row">
                        <div id="goods" class="col-md-12"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts{
    <script>
        $(function() {
            $('#find').click(function(e) {
                e.preventDefault();
                const dataForm = $('form').serialize();
                $.ajax({
                    url: "@Url.Action("Index", "GoodsFind")",
                    type: 'POST',
                    data: dataForm,
                    success: function(data) {
                        if (data === "OK") {
                            $('#goods').load("@Url.Action("_GoodByFilter", "GoodsFind")");
                            //alert();
                        } else {
                            alert('ERROR');
                        }
                    },
                    error: function(data) {
                        alert(data);
                    }
                });
            });
        })
    </script>
}